html{
  scroll-behavior: smooth;
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'AkkoPro';
  src: url(../src/assets/fonts/Linotype-AkkoPro-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  src: url(../src/assets/fonts/montserrat-light.woff) format('woff');

}

@font-face {
  font-family: 'Walkway';
  src: url(../src/assets/fonts/Walkway_bold.woff) format('woff');
}

@font-face {
  font-family: 'MontserratBold';
  src: url(../src/assets/fonts/Montserrat-Bold.woff) format('woff');
}

@font-face {
  font-family: 'MontserratBlack';
  src: url(../src//assets/fonts/Montserrat-Black.woff) format('woff');
}

